{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-4 my-4">Liste des Événements</h1>
    
    <table class="table table-striped" id="evenements">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Nombre de Places</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.titreEvenement }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.nombrePlaces }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.typeEvenement }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-success m-1">Afficher</a>
                        <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-primary m-1">Éditer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}" class="btn btn-lg btn-primary m-3">Créer un nouvel événement</a>
    <a href="{{ path('app_main') }}" class="btn btn-lg btn-primary m-3">Retour</a>
</div>

<script>
    let table = new DataTable('#evenements');
</script>
{% endblock %}
